@media (min-width: 1055px) {

  /* Hide images on larger screens */
  #illustration-woman-mobile {
    display: none;
  }

  #bg-pattern-mobile {
    display: none;
  }

  #wrapper {
    padding-top: 50px;
    padding-left: 100px;
    justify-content: flex-start;
    height: 100vh;
  }

  #container {
    width: 860px;
    min-width: 860px;
    display: flex;
    align-self: flex-start;
    padding-left: 0;
  }

  .attribution {
    width: 860px;
    min-width: 860px;
  }

  #img-container {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    overflow: hidden;
    width: 50%;
  }

  #bg-pattern-desktop {
    display: block;
    width: 900px;
    height: auto;
    position: relative;
    left: -530px;
    top: -275px;
  }

  #illustration-woman-desktop {
    display: block;
    position: absolute;
    z-index: 2000;
    left: -80px;
    top: 65px;
    width: 450px;
    height: auto;
  }

  #illustration-box-desktop {
    display: block;
    position: absolute;
    z-index: 3000;
    top: 245px;
    left: 12px;
    width: 180px;
    height: auto;
  }

  #accordion-container {
    margin-left: auto;
    width: 350px;
    align-items: flex-start;
    padding: 55px 65px 40px 0;
  }

  p {
    font-size: 12px;
  }

  button:after {
    content: url("/images/icon-arrow-down.svg");
    position: absolute;
    right: 107px;
  }
}