:root {
  --verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --softred: hsl(14, 88%, 65%);
  --softviolet: hsl(273, 75%, 66%);
  --softblue: hsl(240, 73%, 65%);
  --verydarkgrayishblue: hsl(237, 12%, 33%);
  --darkgrayishblue: hsl(240, 6%, 50%);
  --lightgrayishblue: hsl(240, 5%, 91%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(var(--softviolet), var(--softblue));
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 50px;
}

#container {
  background-color: white;
  width: 275px;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgb(29, 30, 53, 0.2);
  padding: 0 27px 35px;
  position: relative;
}

#img-container {
  display: flex;
  justify-content: center;
}

#bg-pattern-mobile {
  width: 80%;
  height: auto;
}

#illustration-woman-mobile {
  position: absolute;
  z-index: 1000;
  width: 218px;
  height: auto;
  top: 20px;
}

#accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

button {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--lightgrayishblue);
  padding: 16px 0;
  text-align: left;
  transition: .1s ease-in-out;
}

.hover {
  color: var(--softred);
}

.active {
  font-weight: 700;
  color: var(--verydarkgrayishblue);
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
}

button:after {
  content: url("/images/icon-arrow-down.svg");
  position: absolute;
  right: 26px;
}

button.transform:after {
  content: url("/images/icon-arrow-down.svg");
  transform: rotate(180deg);
}


/* Hide images on smaller screens */
#bg-pattern-desktop {
  display: none;
}

#illustration-woman-desktop {
  display: none;
}

#illustration-box-desktop {
  display: none;
}

